.auth-page, .auth-page .ant-row, .auth-page .ant-col{
    height:100%;
}

.auth-page-image-container{
    background: url('../assets/small-plant.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    height:100%;
    background-position: center center;
}
.auth-page-form-wrapper{
    align-items:center;
    display: flex;
    height:100%;
}
.dialog-enter {
    opacity: 0.01;
    transform: scale(1.1);
  }
  
  .dialog-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: all 300ms;
  }
  
  .dialog-exit {
    opacity: 1;
    transform: scale(1);
  }
  
  .dialog-exit-active {
    opacity: 0.01;
    transform: scale(1.1);
    transition: all 300ms;
  }
  .auth-page-actions{
      margin-top:2em;
  }
  .auth-page-actions button{
    box-shadow: 10px 10px 70px -10px rgba(0,0,0,0.75) !important;
  }


  .auth-role-form{
      display: flex;
      justify-content: center;
  }