
.home-header{
width:100%;
height:80vh;
background: url('../assets/tree-planting.jpg');
background-repeat: no-repeat;
background-position: 0 center;
display: flex;
align-items: center;
clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
position:relative;
    z-index:2;
}
.home-header-container{
    margin-left: 20%;
    font-size:2em;
    
   
}
.home-header-container h1, .home-header-container h3{
    color:white !important;
}
.home-first-section{
    margin-top:-10vh;
    padding: 15vh 0 10vh 0;
    background:#eee;
    font-size:1.2em;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    position:relative;
    z-index:1;
}
.home-second-section{
    margin-top:-10vh;
    padding: 10vh 0 2em 0;
    background:#353b48;
    font-size:1.2em;
    padding-bottom:5%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    position:relative;
    z-index:0;
    
}
.home-second-section *{
    color:white !important;
}
.home-page-map-section{
    position:relative;
    z-index:-1;
    margin-top:-10vh;

}
.home-page-map-section-title{
    padding:.5em;
    background:white;
    position: absolute;
    border:3px solid #353b48;
    top:calc(10% + 2em);
    left:12.5%;
    display: inline-block;
    font-size:2em;
    z-index:10;
}
.home-page-map{
    width:100%;
    height:50vh;
    
}
.home-joinus-section{
    padding:5vh 0 10vh 0;
    text-align: center;
   
}
.home-joinus-section h2{
    font-size:3em;
}
.home-joinus-section button{
    font-size:3em;
    height:auto;
}