.user-area-brand{
    
    position: absolute;
    top:0;
    left:50%;
    transform: translate(-50%);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size:1.5em;   
    height: 56px;
    z-index:2;
}
.user-area-brand img{
    margin-right:10px;
    max-height:40px;
}