.statistics-dashboard-right .ant-card-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px 12px 24px;
}
.statistics-dashboard-right .ant-statistic, .statistics-dashboard-right .ant-statistic-title {
    display: inline-block;
    text-align: center;
    }

.statistics-dashboard-right .ant-statistic + .ant-statistic {
    border-left: 1px solid #353b48;
    padding-left: 20%;
    margin-top: 25px;
}

.statistics-dashboard-right .ant-statistic .ant-statistic-content {
    margin-top: 5px;
}

.statistics-dashboard-right .ant-statistic .ant-statistic-content-suffix {
    display: block;
}

.statistics-dashboard-right .ant-statistic .ant-statistic-content-suffix .ranking-city-wrapper span {
    display: block;
}